
# Copyright 2010 SURFfoundation
# 
# In licentie gegeven krachtens de EUPL, versie 1.1 of –
# zodra deze worden goedgekeurd door de Europese Commissie
# - opeenvolgende versies van de EUPL (de "licentie");
# U mag dit werk niet gebruiken, behalve onder de
# voorwaarden van de licentie.
# U kunt een kopie van de licentie vinden op:
# 
# http://ec.europa.eu/idabc/eupl5
# 
# Tenzij dit op grond van toepasselijk recht vereist is
# of schriftelijk is overeengekomen, wordt software
# krachtens deze licentie verspreid "zoals deze is",
# ZONDER ENIGE GARANTIES OF VOORWAARDEN,
# noch expliciet noch impliciet.
# Zie de licentie voor de specifieke bepalingen voor
# toestemmingen en beperkingen op grond van de licentie.


SetEnv APPLICATION_ENV development

php_flag magic_quotes_gpc off

RewriteEngine On

RewriteBase /proxy/

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
